<div [ngClass]="isUpperPart ? 'rowsContainer' : 'bottomRowsContainer'">
  <div
    [ngClass]="isUpperPart ? 'TopColoredRow row1' : 'bottomColoredRow row1'"
  ></div>
  <div
    [ngClass]="isUpperPart ? 'TopColoredRow row2' : 'bottomColoredRow row2'"
  ></div>
  <div
    [ngClass]="isUpperPart ? 'TopColoredRow row3' : 'bottomColoredRow row3'"
  ></div>
</div>

<div class="mobile-colored-rows">
  <div class="row1"></div>
  <div class="row2"></div>
  <div class="row3"></div>
  <div class="row4"></div>
</div>
