.navContainer {
  margin-top: 28px;
}

.contact-container {
  height: 98vh;
}

.animationDiv {
  height: 2px;
  animation-name: underlineAnimation;
  animation-duration: 2s;
  background-color: #fff;
  width: 100%;
  margin-left: 4px;
}

.titleWrapper {
  margin-bottom: 55px;
  width: fit-content;
}

.flexWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5%;
}

.li-element {
  flex: 1 0 47%;
}

.title {
  margin: 0;
}

.textContent {
  line-height: 2.5;
  font-size: 20px;
}

//PAGINA ESPERIENZE
.esperiences-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.esp-title {
  font-weight: bold;
  font-size: 30px;
}

.esp-subtitle {
  color: #ffffff96;
  font-size: 18px;
}

.esp-description {
  font-size: 20px;
}

.esp-technologies-title {
  font-weight: bold;
  margin-right: 10px;
  font-size: 18px;
}

.esp-technologies-list {
  font-size: 18px;
}

.esp-wrapper {
  margin-bottom: 40px;
}

.esp-flex-wrapper {
  display: flex;
  flex-direction: row;
}

.esp-technologies-list {
  margin-right: 8px;
}

.colored-line-wrapper {
  margin-right: 20px;
}

.colored-line {
  height: 90%;
  width: 4px;
  content: " ";
  margin-top: 21px;
}

//PAGINA CONTATTI
.flex-container {
  margin-top: 45px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8%;
}

.contact-wrapper {
  margin-top: 5%;
}

.contact-me {
  text-align: center;
  margin-bottom: 20px;
}

.cv-style {
  text-align: center;
}

//ANIMAZIONI
@keyframes underlineAnimation {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes techAnimation {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes espAnimation {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes contactAnimation {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .flexWrapper {
    gap: 35%;
  }

  .esp-title {
    font-size: 25px;
  }

  .esp-subtitle,
  .esp-technologies-list {
    font-size: 14px;
  }

  .esp-description {
    font-size: 16px;
  }

  .esp-technologies-title {
    margin-right: 7px;
    font-size: 14px;
  }

  .colored-line {
    height: 94%;
  }

  .contact-me {
    font-size: 18px;
  }

  .flex-container {
    margin-bottom: 22%;
    margin-top: 24px;
  }

  .contact-wrapper {
    margin-top: 21%;
  }
}
