.navContainer {
  margin-top: 28px;
}

.presentDiv {
  height: 2px;
  animation-name: underlineAnimation;
  animation-duration: 2s;
  background-color: #fff;
  width: 29%;
  margin-left: 4px;
}

.tecDiv {
  height: 2px;
  animation-name: techAnimation;
  animation-duration: 2s;
  background-color: #fff;
  width: 22.3%;
  margin-left: 4px;
}

.espDiv {
  height: 2px;
  animation-name: espAnimation;
  animation-duration: 2s;
  background-color: #fff;
  width: 22.3%;
  margin-left: 4px;
}

.contactDiv {
  height: 2px;
  animation-name: contactAnimation;
  animation-duration: 2s;
  background-color: #fff;
  width: 17.6%;
  margin-left: 4px;
}

.titleWrapper {
  margin-bottom: 55px;
}

.flexWrapper {
  display: flex;
  flex-direction: row;
  gap: 55%;
}

.title {
  margin: 0;
}

.textContent {
  line-height: 2.5;
  font-size: 20px;
}

//PAGINA ESPERIENZE
.esp-title {
  font-weight: bold;
  font-size: 30px;
}

.esp-subtitle {
  color: #ffffff96;
  font-size: 18px;
}

.esp-description {
  font-size: 20px;
}

.esp-technologies-title {
  font-weight: bold;
  margin-right: 10px;
  font-size: 18px;
}

.esp-technologies-list {
  font-size: 18px;
}

.esp-wrapper {
  margin-bottom: 40px;
}

.esp-flex-wrapper {
  display: flex;
  flex-direction: row;
}

.esp-technologies-list {
  margin-right: 8px;
}

.colored-line-wrapper {
  margin-right: 20px;
}

.colored-line {
  height: 90%;
  width: 4px;
  content: " ";
  margin-top: 21px;
}

//ANIMAZIONI
@keyframes underlineAnimation {
  0% {
    width: 0px;
  }
  100% {
    width: 29%;
  }
}

@keyframes techAnimation {
  0% {
    width: 0px;
  }
  100% {
    width: 22.3%;
  }
}

@keyframes espAnimation {
  0% {
    width: 0px;
  }
  100% {
    width: 22.3%;
  }
}

@keyframes contactAnimation {
  0% {
    width: 0px;
  }
  100% {
    width: 17.6%;
  }
}
