/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: jetBrains;
  src: url(assets/fonts/JetBrainsMono-Regular.ttf) format("opentype");
}

:root {
  --animate-duration: 2s;
}

* {
  box-sizing: border-box;
  font-family: "jetBrains", "arial", sans-serif;
  background-color: black;
  color: #fff;
}

.container {
  margin: 88px 80px;
}

.title {
  font-size: 66px;
}

//MEDIA QUERIES
@media screen and (max-width: 700px) {
  .title {
    font-size: 50px;
  }

  .textContent {
    font-size: 16px;
  }

  .container {
    margin: 116px 53px 60px 53px;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 40px;
  }

  .textContent {
    font-size: 14px;
  }

  .titleWrapper {
    margin-bottom: 30px;
  }

  .container {
    margin: 116px 4% 60px 6%;
  }
}

@media screen and (max-width: 360px) {
  .title {
    font-size: 30px;
  }

  .textContent {
    font-size: 12px;
  }

  .titleWrapper {
    margin-bottom: 30px;
  }

  .container {
    margin: 116px 4% 60px 6%;
  }
}
