/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: jetBrains;
  src: url(assets/fonts/JetBrainsMono-Regular.ttf) format("opentype");
}

:root {
  --animate-duration: 2s;
}

* {
  box-sizing: border-box;
  font-family: 'jetBrains', 'arial', sans-serif;
  background-color: black;
  color: #fff;
}

.container{
  margin: 100px 80px;
}

.title{
  font-size: 66px;
}
